@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 125px;
}

/*===============================Header===============================*/
.header {
    color:rgb(40, 40, 40);
    background-color: rgb(255, 255, 255);
    width:100%;
    min-width: 900px;
    height: 75px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 50px 0 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.menu ul{
    padding: 10px 10px 0 0;
    vertical-align: center;  
    text-align: right;
}
.menu ul li{
    list-style: none;
    margin: 0 20px 0 0;
    display: inline-block;
}   
.menu ul li a{
    color: rgb(35, 35, 35);
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
}   
.menu ul li a:hover{
    color: hsl(250, 69%, 61%);
}  
/*===============================Main=================================*/
.main{
    min-width: 900px;
    height: 90vh;
    font-family: 'Poppins', sans-serif;
    margin: 75px -20px 0 -20px;
    background-image: url(./images/background.jpg);
}
/*----------------------Home-------------------------*/
/*----------divs------------*/
.home_divs{
    text-align: center;
    padding: 80px 0 0 0;
}
.home_div_media{
    margin: 0 50px 0 50px;
    display: inline-block;
}
.home_div_intro{
    text-align: left;
    display: inline-block;
    margin: 10vh 0 0 0;
}
.home_div_icon{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 200px;  
    margin: 0 0 0 66px;
    object-fit: cover;  
    background-image: url(./images/icon3.jpeg);
    background-size: 200px;
    background-position: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.home_div_bottom{
    color: rgb(80, 80, 80);
    font-size: 16px;
    text-align: center;
    margin: 5vh 0 5vh 0;
}
/*---------unicons-----------*/
.uil-linkedin-alt{
    font-size: 25px;
    color: hsl(250, 69%, 61%);
}
.uil-github-alt{
    font-size: 25px;
    color: hsl(250, 69%, 61%);
}
.uil-mouse-alt{
    font-size: 20px;  
    color: hsl(250, 69%, 61%);
}
.uil-arrow-down{
    font-size: 25px;
    color: hsl(250, 69%, 61%);
}
/*---------text----------*/
.home_name{
    font-size: 50px;
    color:rgb(30, 30, 30);
}
.home_title{
    font-size: 30px;
    color:rgb(80, 80, 80);
}
.home_text{
    font-size: 15px;
    color:rgb(120, 120, 120);
}
/*---------button----------*/
.home_media a{
    color: rgb(35, 35, 35);
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
}
.home_div_intro a{
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
}
.home_contact{
    font-weight: 500;
    color: aliceblue;    
    background-color: hsl(250, 69%, 61%);
    margin: 0 20px 0 0;
    padding: 13px;
    border-radius: 5px;
    transition: 0.3s;
}
.home_contact:hover{
    background-color: hsl(250, 69%, 61%);
}
.home_cv{
    font-weight: 500;
    color: aliceblue;    
    background-color: hsl(250, 69%, 61%);
    margin: 0 20px 0 0;
    padding: 13px 33px 13px 33px;
    border-radius: 5px;
    transition: 0.3s;
}
.home_cv:hover{
    background-color: hsl(250, 69%, 61%);
}
/*----------------------About-------------------------*/
/*---------header----------*/
.about_header{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 300px 0 60px 0;
}
.about_subheader{
    color: hsl(250, 54%, 68%);
    font-weight: 100;
    font-size: 32px;
    text-align: center;
    margin: 40px 0 40px 0;
}
/*------------divs------------*/
.about_divs{
    float:center;
    text-align: center;
}
.about_div{
    display: inline-block;
    width: 200px;
    margin: 0 max(30px, 3vw) 0 max(30px, 3vw);
}
.about_info{
    color: rgb(40, 40, 40);
    font-weight: 200;
    font-size: 25px;
}
.about_title{
    color: rgb(120, 120, 120);
    display: block;
}
/*----------------------Skills------------------------*/
.skills_header{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 0 0 40px 0;
}
/*---------divs----------*/
.skills_divs{
    float:center;
    text-align: center;
}
.skills_div{
    vertical-align: top;
    /* text-align: left;   */
    display: inline-block;
    height: 400px;
    width: 300px;
    max-width: 400px;
    margin: 0 max(50px, 5vw) 0 max(50px, 5vw);
    border-radius: 15px;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);*/

}
.skills_div_div{
    text-align: center;  
    margin: 10px 0 10px 0;
}
.skills_div_div i{
    margin: 0 15px 0 10px;
    font-size: 30px;  
    color: hsl(250, 69%, 61%);
}
.skills_div_div span{
    font-weight: 600;
    font-size: 25px;
}
/*---------dropdown items----------*/
.skills_title{
    font-weight: 500;
    font-size: 20px;
    color: rgb(35, 35, 35);
    margin: 10px 0 0 30px;
}
.skills_percentage{
    float: right;
    color: rgb(120, 120, 120);
    margin: 0 30px 0 0;
}
.skills_bar_0{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_0.jpg);
    background-size: 100%;
}
.skills_bar_30{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_30.jpg);
    background-size: 100%;
}
.skills_bar_40{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_40.jpg);
    background-size: 100%;
}
.skills_bar_50{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_50.jpg);
    background-size: 100%;
}
.skills_bar_60{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_60.jpg);
    background-size: 100%;
}
.skills_bar_70{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_70.jpg);
    background-size: 100%;
}
.skills_bar_80{
    height: 5px;
    margin: 10px 30px 10px 30px;
    border-radius: .25rem;
    background-image: url(./images/bar_80.jpg);
    background-size: 100%;
}
/*---------------------portfolio-----------------------*/
.portfolio{
    height: 70vh;
    margin: 0px 30px 0px 30px;
    border-radius: 50px;
}
/*------------header-------------*/
.portfolio_header{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 0 0 0 0;
}
.portfolio_subheader{
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
/*--------------divs---------------*/
.portfolio_divs{
    float:center;
    text-align: center;
}
.portfolio_div_image{
    display: inline-block;
    height: 400px;
    width: 600px;
    margin: 0 0 25px max(50px, 5vw);
    overflow: hidden;
    border-radius: 15px;
}
.portfolio_image{
    border-radius: 15px;
}
.portfolio_div_text{
    text-align: left;
    display: inline-block;
    height: 200px;
    width: 550px;
    margin: 0 max(50px, 5vw) 0 max(50px, 5vw);
    overflow: hidden;
}
.portfolio_div_text a{
    color:  hsl(250, 36%, 48%);
    font-size: 1em;
    text-decoration: none;
}
.portfolio_name{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 22px;
}
.portfolio_parag{
    color: rgb(100, 100, 100);
}
/*-------------------------Like--------------------------*/
/*----------header------------*/
.like_header{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 150px 0 0 0;
}
.like_subheader{
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 0 0 0 0;
}
/*----------divs------------*/
.like_divs{
    text-align: center;
    vertical-align: middle;
}
.like_button_div{   
    display: flex;
    justify-content: center;
    margin: 50px 0 10px 0;
}
.like_button{
    margin: auto;
}
.like_button:hover{
    filter: brightness(120%);
}
.like_side_div{
    display: inline-block;
    margin: 0 0 0 120px;
}
.like_count_div{
    display: inline-block;
    width: 400px;
    margin: 0 250px 0 60px;
}
.like_count{
    margin: 0 0 0 0;
    font-size: 155px;
    color: hsl(250, 42%, 71%); 
}
.like_count_likes{
    margin: 0 0 0 0;
    font-weight: 500;
    font-size: 55px;
    color: hsl(250, 35%, 80%);   
}
/*----------------------Contact-----------------------*/
/*--------------header---------------*/
.contact_header{
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 150px 0 100px 0;
}
/*--------------divs---------------*/
.contact_divs{
    float:center;
    text-align: center;
}
.contact_div{
    display: inline-block;
    margin: 0 30px 0 30px;
}
.contact_div i{
    font-size: 150px;
    color: hsl(250, 52%, 72%);
    text-decoration: none;  
}
.contact_div h1{
    font-size: 18px;
    color: rgb(95, 95, 95);
    text-decoration: none;  
    margin: 0 0 200px 0;
}
/*===============================Canvas===============================*/
.canvas_div {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}